.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    z-index: 1000;
  }
  
  .event-details-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: calc(100vh - 60px); /* Full viewport height minus navbar height */
    padding-top: 100px; /* Adjust for navbar height */
  }
  
  .event-details {
    border:1px solid #333;
    padding: 20px;
    border-radius: 0; /* Remove border-radius */
    background-color: rgb(255, 255, 255);
    width: 150vw; /* Adjust the width as needed */
    height: 40vw; /* Same height as width */
    max-width: 800px; /* Maximum width */
    max-height: 800px; /* Maximum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .event-details h1{
    text-transform: uppercase;
  }

